button
{
    background-color: aqua;
    border-radius: 10px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    height: 5em;
    margin: 2em;
}
button:hover
{
    background-color: dodgerblue;
    cursor: alias;
}

.h1
{
    text-align: center;
}

body
{
    background-color: steelblue;
}