body
{
	font-family: verdana;
}

div
{margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	border-radius: 1em;


}

.bloc1
{
border: 3px solid rgb(0, 255, 255);
	border-radius: 8px;
	height: 1150px;
	width: 1000px;
	margin-left: 450px;
	font-size: 15px;
	box-shadow: 6px 4px 2px;

}

.bloc2
{
    border: 3px solid grey;
	border-radius: 4px;
	height: 250px;
	width: 96%;
    margin-left: 10px;
    font-size: 13px;
    padding: 10px;
    margin-top: 4px;
    text-align: left;


}

.bloc
{float: right;

}

.bloc3
{
border: 3px solid grey;
	border-radius: 4px;
	height: 250px;
	width: 960px;
    margin-left: 10px;
    font-size: 13px;
    padding: 10px;
    margin-top: 4px;
    text-align: left;
}

.bloc4
{
border: 3px solid grey;
	border-radius: 4px;
	height: 250px;
	width: 96%;
    margin-left: 10px;
    font-size: 13px;
    padding: 10px;
    margin-top: 4px;
    text-align: left;



}

.bloc5
{
border: 3px solid grey;
	border-radius: 4px;
	height: 280px;
	width: 96%;
    margin-left: 10px;
    font-size: 13px;
    padding: 10px;
    margin-top: 4px;
    text-align: left;

}

p
{font-style: oblique;}
