body{
	background-color: black;
	color: yellow;

}

button
{
	width: 100px;
	border: 2px solid black;
	border-radius: 26px;
	background-color: yellow;
	padding: 15px 32px;
	margin-top: 10px;
	color: black;
	margin-left: 25px;
}

button:hover
{
	background-color: black;
	color: yellow;
	border-color: yellow;
}



table{
	font-family: verdana;
	margin-top: 70px;
}

div
{
	margin-left: 25%
	margin-right: 25%;
}