@font-face {
	font-family: MonumentExtended-Regular;
	src: url(../Mission\ 17.01/MonumentExtended-Regular.otf);
  }

body{
	font-family:'MonumentExtended-Regular';
	margin-left: 20px;
}
/*SOUS MENU*/

div#menu ul{ 
	width: 100px;
}

div#menu ul{
	padding:0;
	width: 250px;
}

div#menu ul li{
	position:relative;
	list-style: none;
	border: 1px solid #00baff;
	border-radius: 15px;
}

div#menu ul li:hover{
	transform: scale(1.05);
}

div#menu ul ul{
	position: absolute;
	top: 0;
	left: 100px;
}

div#menu li a{
	text-decoration: none;
}

div#menu ul ul{
	position: absolute;
	top: 0;
	left: 250px;
	display:none;
	width: 125px;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
	display: block;
}

div#menu a { color: #ffffff;}

div#menu li:hover {
	background: #00baff;
	transition: 0.3s;
	padding-left: 6s0px;
}

div#menu li.sousmenu:hover { background: #00baff;}

div#menu li a{
	text-decoration: none;
	padding: 25px 0 4px 8px;
	display: block;
	border-left: 8px solid #00baff;
	margin-left: 10px;
	width: 84px;
}

div#menu li a:hover {
	border-left-color: #00baff;
}

div#menu ul ul li:hover{
	border-left-color: #00baff;
}

div#menu ul ul ul li a:hover{
	border-left-color: #00baff;
}