body

ul li
{
	height:50px ;
	width:200px ;
	border:3px solid #666;
	background-color: #edeeee;
	font-size: 18px;
	margin-bottom: 2px;
	color: #2b579a;
	list-style: none;
	padding-left: 10px;
	line-height: 50px;
	transition: 0.1s;

}

ul li:hover
{
	height:50px ;
	transition: 0.5s;
	width:250px ;
	border:2px solid #000;
	background-color: ;
	font-size: 18px;
	margin-bottom: 2px;
	color: #2b579a;
	list-style: none;
	padding-left: 40px;
	line-height: 50px
}
